<section class='heading'>
  <code class='heading__text'>
    <span class='heading__text--national-1'>.</span>
    <span class='heading__text--national-2'>c</span>
    <span class='heading__text--national-3'>z</span>
  </code>
  <h1 class='heading__main'>czdomains</h1>
</section>
<section class='heading__subheading'>
  <h3 class='heading__subheading-header'>
    {{ intlGet("heading.subheading") }}
  </h3>
</section>
