<hr />
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-list__item">
        {% if navigation.isHome %}
          <a href="/"><strong>Home</strong></span>
        {% else %}
          <a href="/">Home</a>
        {% endif %}
      </li>
      <li class="navigation-list__item">
        {% if navigation.isSearch %}
          <a href="/search"><strong>Search</strong></a>
        {% else %}
          <a href="/search">Search</a>
        {% endif %}
      </li>
      <li class="navigation-list__item">
        {% if navigation.isBrowse %}
          <a href="/browse/all"><strong>Browse</strong></a>
        {% else %}
          <a href="/browse/all">Browse</a>
        {% endif %}
      </li>
      <li class="navigation-list__item">
        {% if navigation.isSubmit %}
          <a href="/submit"><strong>Submit</strong></a>
        {% else %}
          <a href="/submit">Submit</a>
        {% endif %}
      </li>
    </ul>
  </nav>
<hr />
