<form
  method="GET"
  action="{{ pagination.path ~ "/" ~ pagination.filter }}"
  autocomplete="off"
  name="pagination"
  class="pagination"
>
  {% set previous = pagination.page > 0 %}
  {% set next = pagination.page < pagination.totalCount %}

  {% if previous %}
    <button
      type="submit"
      name="page"
      value="{{ page - 1 }}"
      class="pagination__button pagination__button--previous"
    >
      Previous
    </button>
  {% else %}
    <button
      type="submit"
      disabled
      name="page"
      class="pagination__button pagination__button--previous"
    >
      Previous
    </button>
  {% endif %}

  <span class="pagination__current">
    Page {{ pagination.page }} of {{ pagination.totalCount }}
  </span>

  <input
    type="hidden"
    name="size"
    value="{{ pagination.size }}"
  />

  {% if next %}
    <button
      type="submit"
      name="page"
      value="{{ page + 1 }}"
      class="pagination__button pagination__button--next"
    >
      Next
    </button>
  {% else %}
    <button
      type="submit"
      name="page"
      disabled
      class="pagination__button pagination__button--next"
    >
      Next
    </button>
  {% endif %}
</form>
