<option
  value={{ paginationOption.value }}
  {% if paginationOption.value === paginationOption.currentValue %}selected{% endif %}
  class="pagination__per__select__option"
>
  {{ paginationOption.value }}
</option>
