.pagination-panel__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: var(--spacing-base);
}

.pagination-panel__list__item:not(:last-child) {
  margin-right: var(--spacing-sm);
}

.pagination-panel__list__item__page-form__input {
  margin-right: var(--spacing-sm);
}

.pagination-panel__list__item__page-form__counter {
  margin-left: var(--spacing-sm);
}
