{% extends "layout.njk" %}

{% block content %}
  {% set navigation = { isSubmit: true } %}
  {% include "includes/navigation.njk" %}

  <p>
    {{ intlGet("submit.rules") }}
  </p>

  <form
    action="/submit/confirm"
    method="POST"
  >
    <label>
      {{ intlGet("submit.confirmFormLabel") }}
      <br />
      <input type="text" value="" name="domain" />
      <input type="submit" />
    </label>
  </form>
{% endblock %}
