<!DOCTYPE html>
<html>
  <body>
    {{> heading}}
    {{#> section }}
      {{> navigation isBrowse=true}}
      <p>
        Browse the domains.
      </p>
      <ul>
        {{#each list}}
          <li>ID: {{id}}</li>
          <li>value: {{value}}</li>
        {{/each}}
      </ul>
    {{/ section }}
  </body>
</html>
