<!DOCTYPE html>
<html>
  <body>
    {{> heading}}
    {{#> section }}
      {{> navigation isBrowse=true}}
      <p>
        Browse the domains.
      </p>
      <ul>
        {{#each list}}
          <li>
            <a href="/domain/{{uuid}}">{{value}}</a>
          </li>
        {{/each}}
      </ul>
    {{/ section }}
  </body>
</html>
