<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/browse.css">
  </head>
  <body>
    {{> heading}}
    {{#> section }}
      {{> navigation isBrowse=true}}
      {{> browse-navigation filter=filter}}
      <ul>
        {{#each list}}
          <li>
            <a href="/domain/{{uuid}}">{{value}}</a>
          </li>
        {{/each}}
      </ul>
    {{/ section }}
  </body>
</html>
