<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/browse.css">
  </head>
  <body>
    {{> heading}}
    {{#> section }}
      {{> navigation isBrowse=true}}
      <ul class="browse-navigation">
        {{> browse-navigation-item url="all" label="All" filter=filter}}
        {{> browse-navigation-item url="numbers" label="0-9" filter=filter}}
        {{> browse-navigation-item url="a_e" label="a-e" filter=filter}}
        {{> browse-navigation-item url="f_j" label="f-j" filter=filter}}
        {{> browse-navigation-item url="k_o" label="k-o" filter=filter}}
        {{> browse-navigation-item url="p_t" label="p-t" filter=filter}}
        {{> browse-navigation-item url="u_z" label="u-z" filter=filter}}
      </ul>
      <ul>
        {{#each list}}
          <li>
            <a href="/domain/{{uuid}}">{{value}}</a>
          </li>
        {{/each}}
      </ul>
    {{/ section }}
  </body>
</html>
