.navigation-list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.navigation-list__item:not(:last-child) {
  margin-right: var(--spacing-base);
}

.navigation-list__item__link {
  display: flex;
  align-items: center;
}

.navigation-list__item__link--active {
  font-weight: bold;
}

.navigation-list__item__link__icon {
  padding-right: var(--padding-base);
}

@media (max-width: 500px) {
  .navigation {
    flex-wrap: wrap;
  }

  .navigation-list__item__link__icon {
    width: 15px;
    height: auto;
  }
}
